{% extends 'base.html' %}
{%block title%}Atendimentos{% endblock %}

{% block content %}

     <div class="title">
        <h1>Atendimentos</h1>
     </div>
<div class="servicos">
    <div class="row"> 
        {% for atendimentos in atendimento %}
        <div class="col-sm-6">
       
            <div class="card">
                <a href="" style="text-decoration: none; color: inherit;">
                    <div class="card-body" style="text-align: center; border: 1px solid #333;">
                        <h5 class="card-title">{{ atendimentos.cliente.nome }}</h5>
                        <h5 class="card-title">R${{ atendimentos.valor }}</h5>
                        <h5 class="card-title" id="situacao">{{ atendimentos.get_situacao_display }}</h5>
                        <a href="" class="btn btn-primary btn-lg">Editar</a>
                    </div>
                </a>
            </div>
        </div>
         {% endfor%}
    </div> 
  
</div>
    <div class="atendimentos">
    <h3>Atendimentos do dia</h3>
    <a href="gerar-pdf/"><button type="button" class="btn btn-secondary">Gerar PDF</button></a>
    </div>

{% endblock %}
