{% extends 'base.html' %}
{%block title%}Atendimentos{% endblock %}

{% block content %}

     <h1>Atendimentos</h1>

    {% for atendimentos in atendimento %}

    <div class="atendimento">
    <p>atendimento CLIENTE: {{ atendimentos.cliente.nome}}</p>
    <p>ATENDENTE: {{atendimentos.atendente}}</p>
    <p>HELPER: {{atendimentos.helper}}</p>
    <p>VALOR:{{atendimentos.servico.valor}}</p>
    <p>Desconto 10%: {{atendimentos.get_gerente_desc_display}}</p>
    <p>VALOR com desconto:{{atendimentos.valor}}</p>
    <p>Forma de pagamento: {{ atendimentos.get_formapgto_display }}</p>
    <p>Situação: {{ atendimentos.get_situacao_display }}</p>
    
    {% endfor%}
    </div>

    <h2>Atendimentos do dia</h2>
    <a href="gerar-pdf/"><button type="button" class="btn btn-secondary">Gerar PDF</button></a>

{% endblock %}
