
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <h1>RELATORIO ATENDIMENTOS DO DIA</h1>

    {% for atendimento in atendimentos %}

    <p>atendimento CLIENTE: {{ atendimento.cliente.nome|safe }}</p>
    <p>ATENDENTE: {{atendimento.atendente|safe}}</p>
    <p>HELPER: {{atendimento.helper|safe}}</p>
    <p>VALOR:{{atendimento.servico.valor|safe}}</p>
    <p>Desconto 10%: {{atendimento.get_gerente_desc_display|safe}}</p>
    <p>VALOR com desconto:{{atendimento.valor|safe}}</p>
    <p>Forma de pagamento: {{ atendimento.get_formapgto_display|safe }}</p>
    <p>Situação: {{ atendimento.get_situacao_display|safe }}</p>

    {% endfor %}

</body>
</html>

