{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
    <title>Limpa Bem</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Limpa</h1>
            <h1>Bem</h1>
        </div>

        <ul>
            <a href="/"><li>Início</li></a>
            <a href="{% url 'url_servico' %}"><li>Serviços</li></a>
            <a href="{% url 'url_comprar-servico' %}"><li>Contato</li></a>
        </ul>
    </header>

    <main>
        <aside>
            <h2><span>Limpe e organize</span></h2>
            <h2>sua casa.</h2>
            <p>
                Somos uma empresa especializada em limpeza... de TUDO. Entre em contato conosco e converse com um atendente.
            </p>
            <a href="{% url 'url_comprar-servico' %}"><button type="button" class="contato">Contato</button></a>

        </aside>

        <article>
            <img src="{% static 'img/fot.jpg' %}" alt="limpeza">
        </article>
    </main>
    

</body>
</html>