body{
    background-color: rgb(247, 240, 240);
    color: rgb(0, 0, 0);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(0, 0, 0);
}

a:hover{
    color: #3b81d0;
    transition: 0.3s all;
}

.contato {
    background-color: #3b81d0;
    border-color: #3b81d0;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
  }

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: #3b81d0;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}


footer {
    bottom: 0;
    background-color: #333;
    color: #FFFF;
    margin-top: 100px;
    height: 100px;
    left: 0;
    right: 0;    
}

footer p {
    color: #FFFF;
    text-align: center;
    top: 50%;
    position: relative;
}