{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços{% endblock %}
{% block content %}

    <div class="title">
        <h1>Serviços</h1>
    </div>

    <div class="servicos">
      <div class="row">
          {% for servicos in servico %}
          <div class="col-sm-6">
              <div class="card">
                {% if request.user.is_superuser %}
                <a href="{% url 'url_editar-servico' servicos.id %}">
                    {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ servicos.nome }}</h5>
                      <p class="card-text">{{ servicos.descricao }}</p>
                      <h5 class="card-title">R${{ servicos.valor }}</h5>
                      <a href="#" class="btn btn-primary btn-lg">Comprar</a>
                  </div>
                </a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
     {% if request.user.is_superuser %}

     <a href="adicionar-servico/"><button type="button" class="btn btn-secondary" style="margin: 50px; margin-left: 0;">Adicionar Serviço</button></a>


     {% endif %}

{% endblock %}


